<footer class="footer text-light py-3">
    <div class="container wrap d-flex justify-content-center">
        <div class="row">
            <div class="col-lg no-wrap">

                    <a href="https://facebook.com" target="_blank" class="icoFacebook">
                        <fa-icon [icon]="faFacebook" class="faFacebook p-3 fa-3x text-light"></fa-icon>
                    </a>
                    
                    <a href="https://github.com/Teethew" target="_blank" class="icoGithub">
                        <fa-icon [icon]="faGithub" class="faGithub p-3 fa-3x text-light"></fa-icon>
                    </a>
                    <a href="https://whatsapp.com" target="_blank" class="icoLinkedin">
                        <fa-icon [icon]="faLinkedin" class="faLinkedin p-3 fa-3x text-light"></fa-icon>
                    </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
            <div class="col-lg text-center">
                <p id="rodape">Todos os direitos reservados: Thiago Araujo ©</p>
            </div>
        </div>
    </div>
</footer>
