*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: white;
    width: 100%;
}
header{
    background: black;
    height: 200px;
    width: 100%;
    padding: 10px;
    text-align: center;
}
a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    font-size: 22px;
}
.links{
    margin-top: 15px;
    height: 30px;
    clear: both;
    margin: 0 auto;
    width: 235px;
}
.ancoraLink{
    height: 30px;
    width: 135px;
    float: left;
    justify-content: left;
    text-align: left;
}
.imagens{
    width: 100px;
    justify-content: center;
    background: solid black;
    height: 50px;
    float: left;
}
#imagemGit, #imagemIn{
    height: 30px;
}
#imagemGit{
    width: 80px;
}
#imagemIn{
    width: 60px;
}
