/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.texto {
    font-family: Roboto, sans-serif !important;
    color: #e2e2e5;
    --background-color: #121212;
}

.texto-bl {
    font-family: Roboto, sans-serif !important;
    color: #121212;
}

.form-control {
    background-color: #121212 !important; 
    border-color: #121212 !important;
}

body {
    background-color: transparent;
    background-image: url('assets/ripples-of-sand-in-black-and-white.jpg'); /*Créditos a Adrien Olichon pela imagem*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color:transparent;
    min-height: 70vh;
}

aside {
    background-color: #121212;
}

a:hover {
	text-decoration: none; 
    color: #f00
}

input[type=text]:focus, input[type=search]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus, select:focus {
    border: 2px solid #8c5ce8 !important;
    box-shadow: none !important;
    outline: 0 !important;
}

.parallax {
    background-image: url('assets/ripples-of-sand-in-black-and-white.jpg');

    min-height: 500px;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


