<aside style="border-radius: 40px;">
    <div class="card mt-4 py-4" style="--width: 18rem; background-color: #121212; border-color: #121212; border-radius: 10px;">
        <div class="d-flex justify-content-center">
            <img src="../../assets/shinji.jpg" class="card-img-top rounded-circle w-75" alt="...">
        </div>
        <div class="card-body texto">
            <h5 class="card-title">Thiago Araujo</h5>
            <p class="card-text">Desenvolvedor Web Java Jr</p>
    
            <a href="//linkedin.com/in/taraujocrispim" class="btn btn-outline-primary d-flex justify-content-center mb-3" target="_blank">LinkedIn</a>
            <a href="//github.com/Teethew" class="btn btn-outline-light d-flex justify-content-center" target="_blank">GitHub</a>
        </div>
    </div>
        
</aside>