<main style="background-color: #121212;">
    <div class="main container w-100 pt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center texto">Sejam bem vindos!</h1>
            </div>
        </div>
    
        <div class="row mt-5 mb-4">
            <div class="col-md-12">
                <p class="text-justify texto mr-0">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae, doloremque praesentium. Doloremque
                    itaque modi unde! Alias quibusdam, perspiciatis consequuntur quas quod tempore optio ratione, commodi
                    numquam quaerat explicabo perferendis molestias.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium unde omnis ex ut suscipit dolore
                    vitae dolorum quis deleniti numquam obcaecati eveniet tenetur fugit porro tempore quia, a voluptate
                    iste?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates nemo voluptate veritatis repellat
                    doloribus commodi nobis placeat facilis, qui voluptas nisi laborum magnam a! Voluptatum obcaecati eos
                    vitae quibusdam. Optio?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus provident numquam cupiditate vitae
                    dicta? Assumenda temporibus delectus numquam nobis, neque, possimus officiis ad, magnam doloribus atque
                    dolorum magni consequatur rerum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. At quae autem eius tempore error vero
                    architecto repudiandae illo, odit aut provident corporis deserunt recusandae neque nesciunt accusamus,
                    tenetur fugit nobis!
                </p>
            </div>
        </div>
    
    </div>
    
    <div class="parallax"></div>
    
    <div class="row mt-5">
        <div class="col-md-12 d-flex justify-content-center pb-5">
            <button class="btn btn-outline-light text-uppercase font-weight-bold" routerLink="/feed">Ver o feed</button>
        </div>
    </div>
</main>